ion-avatar {
    // width:100% !important;
    // height : 100% !important;
    width: 150px !important; //any size
    height: 150px !important;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}

.usercard {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 15%;
    padding: 2.5%;
}

.devimage {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;


    img {
        height: 250px;  
        border-radius: 10px;
        filter: drop-shadow(0px 1px 5px grey);     
    }
}
