<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" color="danger" fill="clear">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>

  <form [formGroup]="worldForm" (ngSubmit)="onSubmit()">
    <ion-list>

      <ion-list-header lines="none">
        <ion-label>
          Create a new World
        </ion-label>
      </ion-list-header>


      <ion-item>
        <ion-label position="floating">World Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">World Password</ion-label>
        <ion-input formControlName="password"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-note color="tertiary" slot="start">* Leave the password to keep the world Public *</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-button color="success" size="large" class="ion-margin" expand="block" style="width: 100%;" type="submit"
          slot="end">
          Create New World
        </ion-button>
      </ion-item>


    </ion-list>

  </form>
</ion-content>