<ion-content>
  <ion-avatar>
    <!-- <avatar [seed]="'shivam'" ></avatar> -->
    <img src="https://avatars.dicebear.com/api/avataaars/shivam.svg" alt="image">
  </ion-avatar>
  <ion-list>
    <ion-item>
      <ion-label>{{user.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{user.password}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sound
        <ion-icon name="volume-medium-outline"></ion-icon>
      </ion-label>
      <ion-toggle mode="ios" color="warning" ></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>


<ion-footer>
  <ion-button size="large" margin color="danger" expand="block">Logout </ion-button>
</ion-footer>