ion-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 150px !important;  //any size
    max-height: 150px !important;
    position: absolute;
    right: 0;
    left: 0;    
    margin: auto;
    top: 15%;
    }