<ion-header class="ion-no-border">
  <ion-toolbar *ngIf="formMutated" >

    <ion-button (click)="reset()" slot="end" class="ion-margin-end" color="danger">
      <ion-icon slot="start" name="arrow-undo-sharp"></ion-icon>
      Reset
    </ion-button>
    <ion-button (click)="save()" slot="end" class="ion-margin-end" color="primary">
      <ion-icon slot="start" name="save"></ion-icon>
      Save
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="usercard">


    <ion-avatar>
      <avatar [seed]="userNameFormControl.value??''" ></avatar>
      <!-- <img [src]="'https://avatars.dicebear.com/api/avataaars/'+userNameFormControl.value+'.svg'" alt="image"> -->
    </ion-avatar>

    <div class="edituser">


        <input (input)="checkFormMutation()" type="text" [formControl]="userNameFormControl">
        <input  (input)="checkFormMutation()" type="password" [formControl]="userPasswordFormControl" matInput pattern="[0-9]*" maxlength=4 minlength=1
          inputmode="numeric" required>


      <ion-button (click)="musicController.toggle_sound()"  mode="ios" size="large" class="ion-margin-top" [color]="musicController.sound_on?'success':'light'">
        <ion-icon size="large" slot="end" [name]="musicController.sound_on?'volume-medium-outline':'volume-mute-outline'"></ion-icon>
        Music
        <ion-toggle [checked]="musicController.sound_on" style="position: absolute;right: 0;" mode='ios' color="danger"></ion-toggle>
      </ion-button>



    </div>

  </div>
</ion-content>


<ion-footer class="ion-padding ion-no-border">
  <ion-button (click)="logout()" size="large" margin color="danger" expand="block">Logout </ion-button>
</ion-footer>