<ion-header>
  <ion-toolbar>
    <ion-title> Your Worlds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-button color="danger"  (click)="presentCreateWorldModal()">
        Create New World
      </ion-button>
      <ion-button color="primary" (click)="presentJoinWorldModal()">
        Join World
      </ion-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list lines="full">

    <ion-item-sliding *ngFor="let world of worldList" #slidingItem>

      <ion-item-options (ionSwipe)="presentEditWorldModal(world)" side="start">
        <ion-item-option color="secondary" expandable>
          <ion-button color="light" expand="block" fill="clear" (click)="presentEditWorldModal(world)">
            <ion-icon size="large" slot="start" color="light" name="create-outline"></ion-icon>
            Edit World
          </ion-button>
        </ion-item-option>
      </ion-item-options>

      <ion-item button detail="false">
        <ion-label>{{world.name}}</ion-label>
        <ion-icon slot="start" name="earth-outline" size="large"></ion-icon>
        <ion-button (click)="presentViewMembersModal(world)" expand="block" color="secondary" fill="clear" shape="round">
          <ion-badge mode="ios" color="secondary">

            {{ world.members.length }}
          </ion-badge>
          <ion-icon color="secondary" name="people-outline" size="medium" slot="end"></ion-icon>


        </ion-button>


      </ion-item>

      <ion-item-options (ionSwipe)="deleteWorld(world._id)" side="end">
        <ion-item-option color="danger" expandable>
          <ion-button color="light" expand="block" fill="clear" (click)="deleteWorld(world._id)">
            <ion-icon size="large" slot="start" color="light" name="close-outline"></ion-icon>
            Delete World
          </ion-button>
        </ion-item-option>
      </ion-item-options>


    </ion-item-sliding>



  </ion-list>
</ion-content>