<ion-header>
  <ion-toolbar>
    <ion-title> Members in {{world.name}}</ion-title>
    <ion-button (click)="cancel()" color="danger" slot="end"  expand="block" fill="clear" shape="round">
     <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item class="ion-padding-start">
      <ion-input [(ngModel)]="filterValue" (keyup)="applyFilter()"   placeholder="Search User" ></ion-input>
      <ion-icon slot="end" name="search-outline"></ion-icon>
    </ion-item>
    <ion-item *ngFor="let user of filteredUserList">
      <ion-label>{{user.name}}</ion-label>
      <ion-avatar slot="start">
        <avatar [seed]="user.name||''" ></avatar>
      </ion-avatar>
      <ion-checkbox *ngIf="world.created_by==currentUser._id" [disabled]="world.created_by==user._id" [ngModel]="selectedUsers.includes(user._id)"  (ionChange)="selectMembers($event,user._id)" color="secondary" slot="end"></ion-checkbox>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer class="ion-padding ion-no-border">

  <ion-button *ngIf="selectedUsers.length>0" (click)="updateWorld()" expand="block" color="danger" fill="solid" shape="round">
      Remove {{selectedUsers.length}}  Selected People
      <ion-icon slot="end"></ion-icon>
    </ion-button>

</ion-footer>