<ion-header>
  <ion-toolbar>
    <ion-title> Members in {{world.name}}</ion-title>
    <ion-button (click)="cancel()" slot="end"  expand="block" fill="clear" shape="round">
      Cancel
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">

    <ion-item *ngFor="let user of userList">
      <ion-label>{{user.name}}</ion-label>
      <ion-avatar slot="start">
        <avatar [seed]="user.name||''" ></avatar>
      </ion-avatar>
     
    </ion-item>

  </ion-list>
</ion-content>