<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-button (click)="readyToLeave()" color="light" slot="end" expand="block" fill="clear" shape="round">
      <ion-icon size="large" name="rocket-sharp"></ion-icon>
    </ion-button>
    <ion-title> {{world.name?.toUpperCase()}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content #content [scrollX]="false" [forceOverscroll]="false" [scrollEvents]="true">

  <div *ngIf="user && pageready" class="chat">


    <div class="messagecontainer" [class]="(user._id==message.from)?'mymessagecontainer':'yourmessagecontainer'"
      *ngFor="let message of messageList ;let i = index; trackBy: trackMessages">


      <div *ngIf="(messageList[i-1]?.timeStamp | date: 'd MMM y')!=(messageList[i]?.timeStamp | date: 'd MMM y')"
        class="date">
        {{message.timeStamp | date: 'EEE , d MMM y'}}
      </div>

      <div class="senderavat">

        <ion-avatar>
          <!-- <img [src]="'https://avatars.dicebear.com/api/big-smile/'+(peopleMap?.get(message?.from)?.name)+'.svg'"> -->
          <avatar [seed]="(peopleMap?.get(message?.from)?.name)"></avatar>
        </ion-avatar>


      </div>

      <div class="messagewrapper" [class]="(user._id==message.from)?'mymessage':'yourmessage'">

        <div class="msgsender">
          <span style="margin-right: 5px;">
            {{(peopleMap?.get(message?.from)?.name|titlecase)}}
          </span>

          <span style="margin-left: 5px;">
            {{message.timeStamp | date: 'h:mm a'}}
          </span>
        </div>

        <div class="message">
          {{message.content}}
        </div>

      </div>

      <div class="messageActions">

        <ion-button *ngIf="message.from==user._id" (click)="deleteMessage(message,i)" color="danger" fill="clear">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>

        <ion-button [cdkCopyToClipboard]="message.content"
          (click)="toaster.toast({message:'Text Copied',position:'bottom'})" color="primary" fill="clear">
          <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
        </ion-button>

      </div>

    </div>

  </div>

  <!-- loading skeleton -->
  <div *ngIf="!pageready">
    <ion-list lines="none">

      <ion-item>
        <ion-avatar slot="copy-outlinet">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item dir="rtl">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item dir="rtl">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item dir="rtl">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item dir="rtl">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>



    </ion-list>

  </div>
</ion-content>

<ion-footer>
  <ion-item style="width: 100%;">
    <ion-textarea style="max-height: 15vh;" (click)="scrollToBottom()" autoGrow="true" #msgInpArea
      [(ngModel)]="messageInput" placeholder="Send your message ..."></ion-textarea>
    <ion-button class="sendbtn" fill="clear" [disabled]="!messageInput?.trim()?.length" (click)="send()">
      <ion-icon name="send" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>