<!-- (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()" -->
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="secondary">
        <ion-button (click)="cancel()" >
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
        </ion-buttons>
      <ion-title  > {{world.name.toUpperCase()}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [scrollX]="false" [scrollEvents]="true">

  <div style="position:absolute;bottom:0px" slot="fixed">
    <h1>Fixed Content</h1>
  </div>
</ion-content>