
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto:wght@100&family=Yeon+Sung&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



@font-face {
    font-family:coalition ;
    src: url('assets/fonts/Coalition_v2..ttf');
}
@font-face {
    font-family:spaceage ;
    src: url('assets/fonts/spaceage.ttf');
}

.custom-dialog-container .mat-dialog-container {
padding: 0;
}
.custom-bottomsheet-container {
    padding: 0 !important;
}
.customsnackbar{
    background-color: black;
    color: white;
    display: flex !important;
    justify-content: center;
}
