<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button  tab="manage_worlds">
                <ion-icon name="earth-outline"></ion-icon>
                <ion-label>Worlds</ion-label>
                <ion-badge>6</ion-badge>
            </ion-tab-button>

            <ion-tab-button tab="about_app">
                <ion-icon name="information-circle-outline"></ion-icon>
                <ion-label>About</ion-label>
            </ion-tab-button>

            <ion-tab-button >
                <ion-icon name="settings-outline"></ion-icon>
                <ion-label>Settings</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>


</ion-content>