<ion-header>
  <ion-toolbar>
    <ion-title> Add members to {{world.name |titlecase}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cancel()" expand="block" color="danger" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">

    <ion-item *ngFor="let user of userList">
      <ion-label>{{user.name}}</ion-label>

      <ion-avatar slot="start">
        <avatar [seed]="user.name||''"></avatar>
      </ion-avatar>

      <ion-checkbox  color="secondary" slot="end"></ion-checkbox>
    </ion-item>


  </ion-list>
</ion-content>


<ion-footer class="ion-padding ion-no-border">
  <ion-button (click)="joinWorld()" expand="block" color="primary" fill="solid" shape="round">
    Add Selected People
    <ion-icon slot="end" name="person-add-sharp"></ion-icon>
  </ion-button>
</ion-footer>