<ion-header>
  <ion-toolbar>
    <ion-title> Add members to {{world.name |titlecase}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cancel()" expand="block" color="danger" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item class="ion-padding-start">
      <ion-input [(ngModel)]="filterValue" (keyup)="applyFilter()"   placeholder="Search User" ></ion-input>
      <ion-icon slot="end" name="search-outline"></ion-icon>
    </ion-item>
    <ion-item *ngFor="let user of filteredUserList">
      <ion-label>{{user.name}}</ion-label>

      <ion-avatar slot="start">
        <avatar [seed]="user.name||''"></avatar>
      </ion-avatar>

      <ion-checkbox [ngModel]="selectedUsers.includes(user._id)"  (ionChange)="selectMembers($event,user._id)" color="secondary" slot="end"></ion-checkbox>
    </ion-item>


  </ion-list>
</ion-content>


<ion-footer class="ion-padding ion-no-border">

  <ion-button *ngIf="selectedUsers.length>0" (click)="joinWorld()" expand="block" color="primary" fill="solid" shape="round">
      Add {{selectedUsers.length}}  Selected People
      <ion-icon slot="end" name="person-add-sharp"></ion-icon>
    </ion-button>

</ion-footer>